{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scott's Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/colorful.css' %}">
    <script src="{%static 'blog/js/button.js' %}"></script>

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'blog:index' %}">Scott-Blog</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'blog:index' %}">Home</a></li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <main class="col-sm-8">
            {% block main %}
            {% endblock main %}
        </main>

        <div class="col-sm-3 col-sm-offset-1">
            <div class="sidebar-module">
                <h3 class="widget-title">最新文章</h3>
                {% get_recent_posts as recent_post_list %}
                <ol class="list-unstyled">
                    {% for post in recent_post_list %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                    {% empty %}
                    暂无文章！
                    {% endfor %}
                </ol>
            </div>

            <div class="sidebar-module">
                <h3 class="widget-title">归档</h3>
                {% archives as date_list %}
                <ol class="list-unstyled">
                    {% for date in date_list %}
                    <li>
                        <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                    </li>
                    {% empty %}
                    暂无归档！
                    {% endfor %}
                </ol>
            </div>

            <div class="sidebar-module">
                <h3 class="widget-title">分类</h3>
                {% get_categories as category_list %}
                <ol class="list-unstyled">
                    {% for category in category_list %}
                    <li>
                        <a href="{% url 'blog:category' category.pk %}">{{ category.name }} <span class="post-count">({{ category.num_posts }})</span></a>
                    </li>
                    {% empty %}
                    暂无分类！
                    {% endfor %}
                </ol>
            </div>
        </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </div>
<!--     <footer class="footer">
        <div class="container text-center">
            <span class="text-muted" credit>Built template for <a href="http://www.bootcss.com/">Bootstrap</a> by &copy;  Scott</span>
        </div>

    </footer> -->
    

</body>
</html>
